body{
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(255, 0, 0, 0.79), rgba(255, 255, 0, 0.71), rgba(0, 255, 49, 0.44),rgba(0, 255, 255, 0.24));
    background: -webkit-linear-gradient:linear-gradient(rgba(255, 0, 0, 0.79), rgba(255, 255, 0, 0.71), rgba(0, 255, 49, 0.44),rgba(0, 255, 255, 0.24));
    background:-moz-linear-gradient:linear-gradient(rgba(255, 0, 0, 0.79), rgba(255, 255, 0, 0.71), rgba(0, 255, 49, 0.44),rgba(0, 255, 255, 0.24));
    background: -o-linear-gradient:linear-gradient(rgba(255, 0, 0, 0.79), rgba(255, 255, 0, 0.71), rgba(0, 255, 49, 0.44),rgba(0, 255, 255, 0.24));
    padding: 0px;
    color: black;
    font-family: Arial;
}

.verde
{
    background-color: green;
}

h3
{
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}

.menu-principal li
{
    font-size: 15px;
}

.box-img
{
    padding-top: 50px;
}

 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      height: 350px;
  }

@media only screen and (max-width: 700px) {
   .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      height: 200px;
  }
}

.imgResponsive
{
    display: block;
    width: 900px;
    height: 200px;
}
.img-spacing
{
    padding-top: 40px;
}
.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    height: auto;
    color: #99979c;
    background-color: #2A2730;
   
}

.top-20
{
    padding-top: 10px;
    padding-bottom: 20px;
}


.img-grande
{
    display: block;
    width: 1200px;
    height: 300px;
}
.left
{
    text-align: right;
}
.pad-top-20
{
   padding-bottom: 44px; 
}
.img-respons
{
    display: block;
   text-align: center;
    max-width: 200px;
    height: 90px;
    margin: 0 auto;
}
.derecho a
{
    display: block;
    float: right;
}
.game
{
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin-top: -10px;
    padding-right: 10px;
}
.error
{
    color:red;
    letter-spacing: 1px;
    font-family: Gotham-Book,Arial;
    font-size: 13px;
    
}


